NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1Ijoic3BhY2VtYW42MTkiLCJhIjoiY21rYmlycDFoMDB4cDNkcXprcjBjM2VmOSJ9.5ikoyCwPB2Bh5VlHLYlMKw
NEXT_PUBLIC_SUPABASE_URL=https://wyutexcnrnbbytyxervw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_M_yVyqQy1_cbqiwVFlJCTA_GTA8cTLZ
NEXT_PUBLIC_SITE_URL=http://localhost:3000
